body {
    background-color: #210002;
    margin: 0
}

.animation {
    display: block;
    position: relative;
    // z-index: 10;
    height: 1000px;

    .animation_layer {
        height: 1000px;
        background-position: bottom center;
        background-size: auto 1000px;
        background-repeat: repeat-x;
        width: 100%;
        position: absolute;
    }

    .animation_layer.parallax {
        position: fixed;
        margin-bottom: 0;
    }
}

#background {
    background-image: url(./img/background.png);
  }
  
  #mountain {
    background-image: url(./img/mountains.png);
  }
  
  #logo_land {
    background-image: url(./img/logo_land.png);
  }
  
  #jungle1 {
    background-image: url(./img/jungle1.png);
  }
  
  #jungle2 {
    background-image: url(./img/jungle2.png);
  }
  
  #jungle3 {
    background-image: url(./img/jungle3.png);
  }
  
  #jungle4 {
    background-image: url(./img/jungle4.png);
  }
  
  #jungle5 {
    background-image: url(./img/jungle5.png);
  }
  
  #mountain_man {
    background-image: url(./img/man_on_mountain.png);
  }

  #textblock {
    background-color: #210002;
    height: 100vh;
    z-index: 10;
    text-align: center;

    #textblock-container {
        width: 50%;
        margin: 0 auto;
        padding-top: 70px;

        #textblock-title {
            color: #ffaf1b;
            font-size: 35px;
            font-weight: 600;
            font-family: "Helvetica Neue";
        }

        #textblock-content {
            color: #ffaf1b;
            font-size: 20px;
        }
    }
}